table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-align: left;
}

th {
  background-color: #383E47;
}

text {
    color: #fff;
    font-style: italic;
    font-size: small;
}
