body {
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  margin: 20px;
  font-size: small;
}

table {
  border-collapse: collapse;
  color: white;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid gray;
  padding: 6px 10px;
  text-align: left;
}

th {
  background-color: #000;
}
